<!-- <%#= form_for([:admin, @company], html: { role:"form"}) do |form| %>
  #<div>
    <%#= form.label :title %><br>
    <%#= form.text_field :title %>
  </div>

  <div>
    <%#= form.label :Description %><br>
    <%#= form.text_area :description %>
  </div>

  <div>
    <%#= form.submit %>
  </div>
<%# end %> -->

 <div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0">Companies</h4>
      </div>
      <div class="card-body">
        <%= form_for([:admin, @company], html: { role:"form"}) do |form| %>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Enter The type Title</label>
           <%= form.text_field :title, class: "form-control",id: "exampleInput1", type: "title"%>
          </div>          
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Enter the type Description</label>           
           <%= form.text_area :description ,class: "form-control", id: "exampleInput1"%>
         </div>
         <%= form.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

