<header class="header header-sticky">
  <div class="header-bottom menu-center">
    <div class="container">
      <div class="row justify-content-between">
        <!--Logo start-->
        <div class="col mt-10 mb-10">
          <div class="logo">
            <a href="/"><img src="https://static.vecteezy.com/system/resources/thumbnails/008/075/444/small/the-logo-of-home-housing-residents-real-estate-with-a-concept-that-presents-rural-nature-with-a-touch-of-leaves-and-sunflowers-vector.jpg" alt=""></a>
          </div>
        </div>
        <!--Logo end-->
        <!--Menu start-->
        <div class="col d-none d-lg-flex">
          <nav class="main-menu">
            <ul>
              <li class="has-dropdown">
                <a href="/">Home</a>
                <!-- <ul class="sub-menu">
                  <li><a href="index.html">Home one</a></li>
                  <li><a href="index-2.html">Home two</a></li>
                  <li><a href="index-3.html">Home three</a></li>
                </ul> -->
              </li>
              <li class="has-dropdown">
                <% if current_user.present? && current_user.role == "agent"%>
                <a href="properties.html">Properties</a>
                <% else %>
                <a href="/view_all_property">Properties</a>
                <% end %>
                <!-- <ul class="sub-menu">
                  <li class="has-dropdown">
                    <a href="properties.html">Properties Grid</a>
                    <ul class="sub-menu">
                      <li><a href="properties.html">Default Layout</a></li>
                      <li><a href="properties-left-sidebar.html">Left Sidebar</a></li>
                      <li><a href="properties-right-sidebar.html">Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="properties-list-left-sidebar.html">Properties List</a>
                    <ul class="sub-menu">
                      <li><a href="properties-list-left-sidebar.html">Left Sidebar</a></li>
                      <li><a href="properties-list-right-sidebar.html">Right Sidebar</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="properties-carousel.html">Properties Carousel</a>
                    <ul class="sub-menu">
                      <li><a href="properties-carousel.html">Carousel Single Row</a></li>
                      <li><a href="properties-carousel2.html">Carousel Double Row</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="single-properties.html">Single Properties</a>
                    <ul class="sub-menu">
                      <li><a href="single-properties.html">Left Sidebar</a></li>
                      <li><a href="single-properties-right-sidebar.html">Right Sidebar</a></li>
                      <li><a href="single-properties-gallery.html">With Gallrey</a></li>
                    </ul>
                  </li>
                </ul> -->
              </li>
              <li class="has-dropdown">
                <a href="#">Location</a>
                <!-- <ul class="sub-menu">
                  <li class="has-dropdown">
                    <a href="agents.html">Agents Grid</a>
                    <ul class="sub-menu">
                      <li><a href="agents-3-column.html">Three Column</a></li>
                      <li><a href="agents.html">Four Column</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="agents-carousel-3-column.html">Agents Carousel</a>
                    <ul class="sub-menu">
                      <li><a href="agents-carousel-3-column.html">Three Column</a></li>
                      <li><a href="agents-carousel2-3-column.html">Three Column Double Row</a></li>
                      <li><a href="agents-carousel-4-column.html">Four Column</a></li>
                      <li><a href="agents-carousel2-4-column.html">Four Column Double Row</a></li>
                    </ul>
                  </li>
                  <li><a href="agent-details.html">Agent Details</a></li>
                </ul> -->
              </li>
              <li class="has-dropdown">
                <a href="#">create listing</a>
                <!-- <ul class="sub-menu">
                  <li><a href="agencies.html">Agencies</a></li>
                  <li><a href="agency-details.html">Agency Details</a></li>
                </ul> -->
              </li>
              <li class="has-dropdown">
                <% if current_user.present? && current_user.role == "agent"%>
                  <a href="#">Agents</a>
                  <ul class="sub-menu">
                    <li><a href="/properties">Propertry list</a></li>
                    <li><a href="<%= new_property_path %>">New Property</a></li>
                    <!-- li><a href="news-right-sidebar.html">Right Sidebar</a></li>
                    <li><a href="news-carousel.html">Carousel Single Row</a></li>
                    <li><a href="news-carousel2.html">Carousel Double Row</a></li>
                    <li><a href="news-details.html">Details Left Sidebar</a></li>
                    <li><a href="news-details-rig ht-sidebar.html">Details Right Sidebar</a></li> -->
                  </ul>
                <% else %>
                <a href="/agent_list">Agents</a>
                <% end %>
              </li>
              <li class="has-dropdown">
                <a href="/profiles/<%= current_user&.profile&.id %>">Profile</a>
                <ul class="sub-menu">
                  <li class="has-dropdown">
                  <% if current_user.present? && current_user.role == "customer"%>
                    <a href="agents.html">Post</a>
                    <ul class="sub-menu">
                      <li><a href="/posts/new">Create Post</a></li>
                      <li><a href="/posts">Post List</a></li>
                    </ul>
                  <% end %>
                  </li>
                  <li class="has-dropdown">
                    <a href="agents-carousel-3-column.html">Agents Carousel</a>
                    <ul class="sub-menu">
                      <li><a href="agents-carousel-3-column.html">Three Column</a></li>
                      <li><a href="agents-carousel2-3-column.html">Three Column Double Row</a></li>
                      <li><a href="agents-carousel-4-column.html">Four Column</a></li>
                      <li><a href="agents-carousel2-4-column.html">Four Column Double Row</a></li>
                    </ul>
                  </li>
                  <li><a href="/profiles/<%= current_user&.profile&.id %>">My Account</a></li>
                  <li><a href="/about">About Us</a></li>
                  <li>
                    <% if current_user.present? %>
                      <a href="/users/sign_out" ><i class="pe-7s-user"></i><span>Logout</span></a>
                      <% else %>
                      <a href="/users/sign_in" ><i class="pe-7s-user"></i><span>Login or Register</span></a>
                      <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <!--Menu end
        User start-->
        <div class="col mr-sm-50 mr-xs-50">
          <div class="header-user">
            <% if current_user.present? %>
            <a href="/users/sign_out" class="user-toggle"><i class="pe-7s-user"></i><span>Logout</span></a>
            <% else %>
            <a href="/users/sign_in" class="user-toggle"><i class="pe-7s-user"></i><span>Login or Register</span></a>
            <% end %>
          </div>
        </div>
        <!--User end-->
      </div>
      <!--Mobile Menu start-->
      <div class="row">
        <div class="col-12 d-flex d-lg-none">
          <div class="mobile-menu"></div>
        </div>
      </div>
      <!--Mobile Menu end-->
    </div>
  </div>
</header>