<div class="sidebar" data-color="purple" data-background-color="black" data-image="/assets/admin/img/sidebar-2.jpg">
  <div class="logo"><a href="/admin" class="simple-text logo-normal">
      Logo
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item <%= (params[:controller] == "admin/properties") ? 'active' : "" %>">
        <a class="nav-link" href="/admin/properties">
          <i class="material-icons">dashboard</i>
          <p>Properties</p>
        </a>
      </li>
      <li class="nav-item <%= (params[:controller] == "admin/users") ? 'active' : "" %> ">
        <a class="nav-link" href="/admin/users">
          <i class="material-icons">person</i>
          <p>Agents</p>
        </a>
      </li>
      <li class="nav-item  <%= (params[:controller] == "admin/companies") ? 'active' : "" %>">
        <a class="nav-link" href="/admin/companies">
          <i class="material-icons">home</i>
          <p>Companies</p>
        </a>
      </li>

      <li class="nav-item  <%= (params[:controller] == "admin/profiles") ? 'active' : "" %>">
        <a class="nav-link" href="/admin/profiles">
          <i class="material-icons">home</i>
          <p>Profiles</p>
        </a>
      </li>
      
    </ul>
  </div>
</div>